html,body
{
  height: 100%;  
}


#jPop
{
    position:absolute;
	width:auto;
	height:auto;
	background-color:#FFF;
	display:none;
	
	-moz-box-shadow: 0 0 5px #2c2b29;
	-webkit-box-shadow: 0 0 5px #2c2b29;
	-khtml-box-shadow: 0 0 5px #2c2b29;
	box-shadow: 0 0 5px #2c2b29;
	
	/*-moz-border-radius:5px; /* Firefox */ /* прописано в коде */
	-webkit-border-radius:5px; /* Safari and Chrome */
	-khtml-border-radius:5px; /* Linux browsers */	
	border-radius:5px; /* Opera 10.50, IE and CSS3 */
}

#jPop_close { position:absolute; margin-top:10px; width:10px; right:10px; top:-20px; !right:-10px;}
#jPop_close a { color:#FFF; font:bold 14px Tahoma, Geneva, sans-serif; text-decoration:none; }
#jPop_close a:hover { color:#FF0; }

#jPop_ind { position:absolute; width:31px; height:31px; }

#jPop_cont { text-align:left; padding:10px; !padding-bottom: 0px; !padding-top:10px; overflow:hidden; overflow-y:auto; margin:5px 0 5px 5px; }

#jPop_shadow
{
	position:absolute;
	background-color:#e3e3e3;
	filter:progid:DXImageTransform.Microsoft.Blur(pixelradius=4, enabled="true");
	display:none;
    !border: 2px solid black;
}